################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AlgorithmPractice
/AlgorithmTest/bin/Debug
/AlgorithmTest/obj/Debug
